@import url('main.css');

.banner-text{
    text-align: center;
	top: 25%;
	color: white;
	padding: 20px;
}

.banner-text h4{
	color: aquamarine   ;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

.banner-text p {
	font-size: 26px;
}

.container {
    max-width: 800px;
    padding-top: 5%;
    padding-left: 5%;
}

h1 {
    color: orange;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 18px;
    line-height: 1.6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
	position: absolute;
	margin-top: 5%;
	margin-left: 70%;
	justify-content: left;
	height: 300px;
	width: 250px;
}
.box {
	height: 400px;
	width: 350px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}
.box:before {
	content: "";
	height: 150%;
	width: 150%;
	position: absolute;
	left: -25%;
	top: -25%;
	animation: animate 2s infinite linear;
	background-image: conic-gradient(green, yellow);
}
.box::after {
	background-image: url('../img/aj.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	content: "";
	background-color: #212121;
	height: 96%;
	width: 96%;
	top: 2%;
	left: 2%;
	border-radius: 5px;
}
@keyframes animate {
	100% {
		transform: rotate(-360deg);
	}
}