@import url('main.css');

.banner-text{
    text-align: center;
	top: 25%;
	color: white;
	padding: 20px;
}

.banner-text h4{
	color: aquamarine   ;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

.banner-text p {
	font-size: 26px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
}
  
.contact-info {
    margin-bottom: 20px;
}
  
.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.info-item img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}
  
.info-item a {
    text-decoration: none;
    color: #007bff;
}
  
.info-item a:hover {
    text-decoration: underline;
}
  
form {
    margin-top: 20px;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
textarea {
    height: 100px;
}
  
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}