@import url('main.css');

.banner-text{
    text-align: center;
	top: 25%;
	color: white;
	padding: 20px;
}

.banner-text h4{
	color: aquamarine   ;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

.banner-text p {
	font-size: 26px;
}

.container {
    text-align: center;
	margin: 15%;
  }
  
  .big-text {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bold;
    color: orange;
    animation: pulse 2s infinite alternate;
  }
  
  .description {
    font-size: 23px;
	font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(45deg, #ff8a00, #e7ff12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}